html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}
@font-face {
    font-family: 'ProximaNova-Light';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/ProximaNova-Light.woff') format('woff');
}
@font-face {
    font-family: 'ProximaNova-Regular';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/ProximaNova-Regular.woff') format('woff');
}
@font-face {
    font-family: 'ProximaNova-Semibold';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../fonts/ProximaNova-Semibold.woff') format('woff');
}
@font-face {
    font-family: 'ProximaNova-Bold';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/ProximaNova-Bold.woff') format('woff');
}
body {
    font-family: 'ProximaNova-Light', serif;
    color: #fff;
    font-size: 16px;
    line-height: 23px;
    background-color: #162831;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
li {
    padding-left: 0;
}
a {
    text-decoration: none;
    color: inherit;
}

.container {
    max-width: 1316px;
    margin: 0 auto;
    padding: 0 10px;
}
.spacing {
    margin-bottom: 150px;
}
.sections-subtitle {
    font-family: 'El Messiri', serif;
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
}
.box-titles {
    position: relative;
    padding-left: 72px;
    padding-right: 72px;
    font-family: 'El Messiri', serif;
    font-size: 42px;
    line-height: 59px;
    &::before {
        content: "";
        width: 28px;
        height: 14px;
        position: absolute;
        left: 0;
        top: 19px;
        background-image: url("../images/box-title-left.svg");
    }
    &::after {
        content: "";
        width: 28px;
        height: 14px;
        position: absolute;
        right: 0;
        top: 19px;
        background-image: url("../images/box-title-right.svg");
    }
}


.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.menu__list {
    display: flex;
    font-size: 14px;
    line-height: 19px;
    font-family: 'ProximaNova-Regular';
}
.menu__item-link {
    cursor: pointer;
}
.menu__item + .menu__item {
    margin-left: 50px;
}
.header__link {
    padding: 9px 15px;
    background-color: #018ABE;
    border: 1px solid #018ABE;
    border-radius: 3px;
    font-family: 'ProximaNova-Semibold' ;
    font-style: 13px;
    line-height: 18px;
}

.therapy__inner {
    background-image: url(../images/therapy-img.jpg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    height: 600px;
    text-align: center;
    font-family: 'El Messiri';
    font-weight: 700;
}
.therapy__subtitle {
    font-style: normal;
    font-size: 24px;
    line-height: 34px;
    padding-top: 136px;
    padding-bottom: 40px;
    margin: 0;
    & span {
        position: relative;
        padding-left: 90px;
        padding-right: 90px;

    &::before {
        content: "";
        width: 28px;
        height: 14px;
        position: absolute;
        left: 0;
        top: 10px;
        background-image: url("../images/therapy-subtitle-left.svg");
    }
    &::after {
        content: "";
        width: 28px;
        height: 14px;
        position: absolute;
        right: 0;
        top: 10px;
        background-image: url("../images/therapy-subtitle-right.svg");
    }
    }

}
.therapy__title {
    font-style: normal;
    font-size: 64px;
    line-height: 90px;
    margin: 0;
}
.sessions__title {
    margin-bottom: 100px;
}
.sessions__inner {
    text-align: center;
}
.sessions__grid-item {
    border-radius: 10px;
    position: relative;


}
.sessions__grid {
    display: grid;
    grid-template: repeat(2, 258px) / repeat(3, 416px);
    gap: 24px;
                                                                                                            
}
.sessions__subtitle {
    position: absolute;
    bottom: 30px;
    left: 40px;
    text-align: left;
}
.item1 {
    grid-row: span 2;
    background-image: url('../images/sessions-1.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.item2 {
    background-image: url('../images/sessions-2.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.item3 {
    background-image: url('../images/sessions-3.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.item4 {
    background-image: url('../images/sessions-4.jpg');
    background-repeat: no-repeat;
    background-position: center;
}
.item5 {
    background-image: url('../images/sessions-5.jpg');
    background-repeat: no-repeat;
    background-position: center;
}

// REVIEWS SECTION
.reviews__inner {
    max-width: 1736px;
    margin: 0 auto;
}
.reviews__title {
    text-align: center;
    margin-bottom: 100px;
}
.reiews__gallery{
    max-height: 585px;
    // width: 100%;
}

.reviews__item {
    background-color: #018ABE;
    border-radius: 10px;
    padding: 40px 45px;
    font-size: 10px;
    line-height: 14px;
    max-width: 500px ;
    height: 276px;
    margin-bottom: 60px;
    margin-top: 40px;
    text-align: left;
    & + .reviews__item {
        margin-left: 50px;
    }
}
.reviews__item-text {
    max-width: 410px;
}

.slick-current {
    max-width: 636px ;
    height: 350px;
    font-size: 14px;
    line-height: 20px;
    transform: translateY(-37px);
    & .reviews__item-text {
        max-width: 516px;
    }
}
.slick-dots{
    position: absolute;
    left: calc(50% - 50px);
    & li + li {
        margin-left: 20px;
    }
    & li {
        display: inline-block;
    }

    .slick-active button{
        opacity: 1;
    }

    & button {
        font-size: 0;
        width: 16px;
        height: 16px;
        background-color: #FFFFFF;
        border-radius: 3px;
        opacity: 0.4;
        cursor: pointer;
    }
}

.reviews__item-text {
    padding-top: 20px;
}

// REVIEWS SECTION
.wrapper {
    max-width: 1078px;
    margin: 0 auto;
}
.about__title {
    text-align: center;
    margin-bottom: 100px;
}
.about__inner {
    display: flex;
    gap: 85px;
}
.about__inner + .about__inner {
    margin-top: 100px;
}
.about__massage-title {
    margin-top: 70px;
    margin-bottom: 30px;
}
.about__massage-text + .about__massage-text, 
.about__hydro-text + .about__hydro-text{
    margin-top: 20px;
}

.about__hydro-title {
    margin-top: 15px;
    margin-bottom: 30px;
}
// PRICE SECTION
.price__title {
    text-align: center;
    margin-bottom: 100px;
}
.price__inner {
    display: flex;
    gap: 134px;
}
.price__text {
    display: flex;
    justify-content: space-between;
    margin-top: 103px;
    width: 416px;
    font-size: 18px;
    line-height: 25px;
    
}
.price__list {
    font-family: 'ProximaNova-Regular';
}
.price__descr {
    font-weight: 700;
}
.price__list-icon{
    position: relative;
    padding-left: 40px;
    &::before {
    content: "";
    height: 9px;
    width: 18px;
    position: absolute;
    left: 0;
    bottom: 8px;
    background-image: url("../images/price-icon.svg");
}
}
.price__list-item + .price__list-item {
    margin-top: 30px; 
}
.price__image-subtitle {
    text-align: center;
    font-size: 21px;
    line-height: 29px;
    font-weight: 700;
    margin-top: 30px;
}
// MAP SECTION
.map {
    margin-bottom: 100px;
}
.map__wrapper {
    display: flex;
    gap: 48px;
}

iframe {
    border-radius: 10px;
}

.map__adress-first, .map__adress-second {
    width: 392px;
    height: 290px;
    background-color: #018ABE;
    font-size: 14px;
    line-height: 19px;
    padding: 35px 45px;
    border-radius: 10px;
}

.map__adress-first {
    margin-bottom: 25px;
}
.map__adress-header {
    margin-bottom: 20px;
    font-family: "El Messiri";
    font-size: 24px;
    line-height: 34px;
}
.map__list-item {
    margin-bottom: 20px;
    padding-left: 45px;
    position: relative;
    &::before {
        content: "";
        width: 20px;
        height: 20px;
        position: absolute;
        bottom: 0;
        left: 0px;
        background-repeat: no-repeat;
    }
    &.list-fst::before {
        background-image: url("../images/map-geo.svg");
    }
    &.list-scnd::before {
        background-image: url("../images/map-metro.svg");
    }
    &.list-thrd::before {
        background-image: url("../images/map-calendar.svg");
    }
}
.list-thrd {
    margin-bottom: 30px;
}
.map__adress-link {
    width: 155px;
    height: 36px;
    padding: 9px 15px;
    background-color: #fff;
    color: #018ABE;
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    border: none;
    border-radius: 3px;
}
//Bottom SECTION
.bottom__inner{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 14px;
    line-height: 19px;
}
.copyright {
    font-family: 'ProximaNova-Regular', serif;
}
.bottom-link {
    font-family: 'ProximaNova-Bold', serif;
}

// @mixin main_red {
//     font-size: 15px;
//     line-height: 19px;
//     color: red;
//     border: 1px solid #ccc;
//     display: inline-block;

// }

// .header__list, .content__list {
//     @include main_red()
    
// }

